<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nombre of nombres; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{nombre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="w-25">Heading 1</th>
        <th scope="col" class="w-25">Heading 2</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>This cell inherits <code>vertical-align: middle;</code> from the table</td>

      </tr>
      <tr class="align-bottom">
        <td>This cell inherits <code>vertical-align: bottom;</code> from the table row</td>
        <td>This cell inherits <code>vertical-align: bottom;</code> from the table row</td>
      </tr>
      <tr>
        <td>This cell inherits <code>vertical-align: middle;</code> from the table</td>
        <td>This cell inherits <code>vertical-align: middle;</code> from the table</td>
      </tr>
    </tbody>
  </table>
</div> -->
